{% load i18n %}
{% load sponsor %}
<!DOCTYPE HTML>
<html>
	<head>
		<title>{{CONFERENCE_NAME}} Participants</title>
		<meta charset="utf-8" />
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js" type="text/javascript"></script>
		<link rel="shortcut icon" href="/static/favicon.png">
		<link href="{{STATIC_URL}}bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link href="{{STATIC_URL}}tablesorter/css/theme.blue.css" rel="stylesheet">
		<link href="{{STATIC_URL}}table_extensions.css" rel="stylesheet">
		<link href="{{STATIC_URL}}cfp.css" rel="stylesheet">
		<script src="{{STATIC_URL}}cfp.js" type="text/javascript"></script>
		<script src="{{STATIC_URL}}typeahead.bundle.js" type="text/javascript"></script>
		<link href="{{STATIC_URL}}typeahead.css" rel="stylesheet">
		<link href="{{STATIC_URL}}lang/bootstrap-select.min.css" rel="stylesheet">
		<link href="{{STATIC_URL}}lang/flag-icon.min.css" rel="stylesheet">
		<script src="{{STATIC_URL}}lang/bootstrap-select.min.js" type="text/javascript"></script>
		<script src="{{STATIC_URL}}bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
		<script src="{{STATIC_URL}}tablesorter/js/jquery.tablesorter.js" type="text/javascript"></script>
		<script src="{{STATIC_URL}}tablesorter/js/jquery.tablesorter.widgets.js" type="text/javascript"></script>
		<script src="{{STATIC_URL}}tablesorter/js/custom_parser.js" type="text/javascript"></script>
		<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto+Condensed%3A400%7CRoboto%3A400&#038;ver=1535976071' type='text/css' media='all' />
		<script>
			$(document).ready(function () {
				$(function(){
    				$('.selectpicker').selectpicker();
				});
				$("[data-toggle=tooltip]").not("ul.nav a").not("label > span").tooltip();
				$("ul.nav a[data-toggle=tooltip], span[data-toggle=tooltip]").tooltip({ container: "body" });
				$(".multiYear-selector").click(function () {
					setConferenceYear($(this).data("year"));
				});
			});
			$.ajaxSetup({
				beforeSend: function(xhr, settings) {
					xhr.setRequestHeader("X-CSRFToken", "{{csrf_token}}");
				}
			});
		</script>
	</head>
	<body>
		<div id="wrap">
			<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
				<div class="container">
					<div class="navbar-header">
						<a class="navbar-brand" href="#" style="padding: 12.5px 10px;">
							<img alt="Brand" src="{{STATIC_URL}}MakeMunich_logo_white_40x120.png">
						</a>
					</div>
					<div class="collapse navbar-collapse">
						<ul class="nav navbar-nav">
							{% if user.is_authenticated %}
							<li><a href="/">{% trans 'text_link_overview' %}</a></li>
							<li><a href="https://login.make-munich.de/module.php/selfregister/login.php">{% trans 'text_link_profile' %}</a></li>
							{% endif %}
							{% get_current_language as LANGUAGE_CODE %}
							<li><a href="{% if LANGUAGE_CODE == 'de' %}https://make-munich.de/maker-aussteller-faq/{% else %}https://make-munich.de/en/maker-exhibitor-faq/{% endif %}" target="_blank" rel="noopener">{% trans 'text_link_faq' %}</a></li>
							{% if user.is_authenticated and user.is_staff %}
							<li class="divider divider-vertical"></li>
							<li><a href="/accounts/list">{% trans 'text_link_users' %}</a></li>
							{% endif %}
							{% if user.is_authenticated and user.is_staff or user.legacy_profile.is_orga %}
							<li><a href="/projects/list">{% trans 'text_link_projects' %}</a></li>
							{% endif %}
						</ul>
						<ul class="nav navbar-nav navbar-right">
						{% if user.is_authenticated %}
						<p class="navbar-text">
							{% trans 'text_loggedin' %} {{user.first_name}} (<a href="/saml2/logout">Logout</a>)
						</p>
						{% endif %}
							<li>
								{% load i18n %}
								<form class="navbar-form navbar-left" action="{% url 'set_language' %}" method="post">{% csrf_token %}
									<input class="form-control" name="next" type="hidden" value="{{ redirect_to }}">
									<select class="selectpicker form-control" data-width="fit" name="language" onchange='this.form.submit()'>
										{% get_current_language as LANGUAGE_CODE %}
										{% get_available_languages as LANGUAGES %}
										{% get_language_info_list for LANGUAGES as languages %}
										{% for language in languages %}
											<option data-content='<span class="flag-icon flag-icon-{% if language.code == "en"%}gb{% else %}{{ language.code }}{% endif %}"></span> {{ language.name_local }}' value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
													({{ language.code }})
											</option>
										{% endfor %}
									</select>
									<noscript><input type="submit" value="Go" class="btn btn-default"></noscript>
								</form>
							</li>
						</ul>
					</div>
				</div>
			</nav>
			{% block styles %}
			<div class="container" style="padding-bottom: 100px;">
			{% endblock %}
				{% block content %}No Content{% endblock %}
			</div>
		</div>
		<div id="footer" class="navbar-fixed-bottom">
			<div class="container">
					<div class="row">
						<div class="col-md-4 footer"><p class="pull-left">{% trans 'text_footer_1' %}</p></div>
						<div class="col-md-4 footer"><p>{%trans 'text_footer_2' %}</p></div>
						<div class="col-md-4 footer"><p class="pull-right">{%trans 'text_footer_3' %}</p></div>
					</div>
			</div>
		</div>
	</body>
</html>
