{% extends "master.html" %}
{% load i18n %}

{% block content %}
<div class="page-header">
	<h2>{% trans 'text_confirm_delete' %}</h2>
</div>
<div class="row">
<div class="col-md-3 centerbox">
		<form method="POST">
			{% csrf_token %}
			{% trans 'text_confirm_remove' %} {{object.projectName}}?
			{{form.as_p}}
			<div class="form-actions">
				<button type="Submit" class="btn btn-danger">{% trans 'text_button_delete' %}</button>
				<a href="{% url 'project_list' %}" class="btn">{% trans 'text_button_cancel' %}</a>
			</div>
		</form>
	</div>
</div>
{% endblock %}
