{% extends "master.html" %}
{% load crispy_forms_tags %}

{% block content %}

{% include "project/alltabshead.html" %}

<ul class="nav nav-tabs nav-tabs-bordered">
	<li class="active"><a href="#">General</a><li>
	<li><a href="{% url 'project_update_texts' pk=object.pk %}">Project</a><li>
	<li><a href="{% url 'project_update_booth' pk=object.pk %}">Booth</a><li>
	<li><a href="{% url 'project_update_talk' pk=object.pk %}">Talk</a><li>
	<li><a href="{% url 'project_update_workshop' pk=object.pk %}">Workshop</a><li>
	<li><a href="{% url 'project_participants' pk=object.pk %}">Participants</a><li>
</ul>

<div class="tab-content tab-bordered">
	<div class="tab-pane active" id="general_info">
		{% crispy form form.helper%}
	</div>
</div>

{% endblock %}
