{% extends "master.html" %}
{% load i18n %}
{% load staticfiles %}
{% block styles %}
			<div class="container" style="padding-bottom: 100px; width: 100%;">
{% endblock %}
{% block content %}

<div class="page-header">
	<h2>{% trans 'text_list_projects' %} ({{object_list|length}})</h2>
</div>
<ul class="nav nav-pills">
	<li>
		<a href="{% url 'project_list' %}">{% trans 'text_information_view' %}</a>
	</li>
	<li class="active"><a href="#">{% trans 'text_planning_view' %}</a></li>
	<li>
		<a href="{% url 'project_list_hall' %}">{% trans 'text_hall_view' %}</a>
	</li>
	<li>
		<a href="{% url 'project_list_checkin' %}">{% trans 'text_checkin_view' %}</a>
	</li>
</ul>

<div class="form-group pull-left controls" style="margin-left: 20px;">
	<label for="show-only-accepted" class="checkbox"><input id="show-only-accepted" class="checkboxinput" type="checkbox" /> {% trans 'text_show_only_accepted' %}</label>
</div>

<div class="form-group pull-right">
    <input type="search" class="search form-control" data-column="all" placeholder="search any column">
</div>
<span class="counter pull-right"></span>
<div class="table_wrapper">
    <table class="table table-striped table-bordered table-hover tablesorter results">
    	<thead>
    		<tr>
    			<th class="filter-false sorter-false resizable-false">Actions</th>
    			<th class="resizable-false">Project name</th>
    			<th>Project status</th>
    			<th>Booth status</th>
    			<th>Workshop status</th>
    			<th>Talk status</th>
    			<th>Contact</th>
    			<th>Main Contact</th>
    			<th>E-Mail</th>
    			<th>Phone</th>
    			<th class="filter-false sorter-false resizable-false">Provided information</th>
    			<th>Booth Area</th>
    			<th>Project Type</th>
    			<th>Internal Comment</th>
    			<th>Language</th>
    			<th>Comment</th>
    			<th>Location</th>
    			<th>Description</th>
    			<th>Tables req</th>
    			<th>Benches req</th>
    			<th>Chairs req</th>
    			<th>Size req</th>
    			<th>Power req</th>
    			<th>Additional</th>
    			<th>Workshop Comment</th>
    			<th>Talk Comment</th>
    			<th>Tickets</th>
    			<th>Parking</th>
    			<th>Ticket status</th>
    			<th>Sponsor</th>
    			<th>Created</th>
    		</tr>
    	</thead>
    	<tbody>
    		{% for project in object_list %}
    		<tr{% if project.accepted %} class="success"{% elif project.createDate > reg_deadline_booth %} class="danger"{% endif %}>
    			<td>
    				<a href="{% url 'project_internal' pk=project.pk %}" target="_blank" data-toggle="tooltip" title="Edit project information"><span class="glyphicon glyphicon-edit"></span></a>
    			</td>
    			<td scope="row">{{project.projectName}}</td>
    			<td>{{project.get_projectStatus_display}}</td>
    			<td>{{project.get_boothStatus_display}}</td>
    			<td>{{project.get_workshopStatus_display}}</td>
    			<td>{{project.get_talkStatus_display}}</td>
    			<td>{{project.generalContact}}</td>
    			<td>{{project.firstname}} {{project.lastname}}</td>
    			<td>{{project.email}}</td>
    			<td>{{project.phone}}</td>
    			<td>
    				{% if project.descriptionDE != "" and project.descriptionEN != "" %}<a href="{% url 'project_update_texts' pk=project.pk %}" data-toggle="tooltip" title="Texts in DE and EN available"><span class="glyphicon glyphicon-globe"></span></a>{% endif %}
    				{% if project.logoOrg and project.logoProject1 and project.logoTeam %}<a href="{% url 'project_update_texts' pk=project.pk %}" data-toggle="tooltip" title="Logo, Team and min. 1 project picture available"><span class="glyphicon glyphicon-picture"></span></a>{% endif %}
    				{% if project.video != "" or project.videoFile %}<a href="{% url 'project_update_texts' pk=project.pk %}" data-toggle="tooltip" title="Video available"><span class="glyphicon glyphicon-film"></span></a>{% endif %}
    				{% if project.bootTables and project.boothChairs and project.boothBenches and project.boothPower and project.boothDescription %}<a href="{% url 'project_update_booth' pk=project.pk %}" data-toggle="tooltip" title="Booth information available"><span class="glyphicon glyphicon-home"></span></a>{% endif %}
    				{% for box in project.projectArea.field.choices %}
    				Box: {{ box.name }}
    				Value: {{ box.choice_value }}
    				{% endfor %}
    				{% if project.projectArea.value == '1' %}<a href="{% url 'project_update_texts' pk=project.pk %}" data-toggle="tooltip" title="Project category available"><span class="glyphicon glyphicon-tags"></span></a>{% endif %}
    				{% if project.homepage != "" %}<a href="{% url 'project_update_general' pk=project.pk %}" data-toggle="tooltip" title="Homepage available"><span class="glyphicon glyphicon-home"></span></a>{% endif %}
    				{% if project.participants.all %}<a href="{% url 'project_participants' pk=project.pk %}" data-toggle="tooltip" title="Participants available"><span class="glyphicon glyphicon-user"></span></a>{% endif %}
    			</td>
    			<td>{{project.get_boothArea_display}}</td>
    			<td>{{project.get_projecttype_display}}</td>
    			<td>{{project.internalComment}}</td>
    			<td>{{project.get_language_display}}</td>
    			<td>{{project.generalComment}}</td>
    			<td>{{project.boothLocation}}</td>
    			<td>{{project.boothDescription}}</td>
    			<td>{{project.boothTables}}</td>
    			<td>{{project.boothBenches}}</td>
    			<td>{{project.boothChairs}}</td>
    			<td>{{project.boothSize}}</td>
    			<td>{{project.get_boothPower_display}}</td>
    			<td>{{project.boothExtras}}</td>
    			<td>{{project.workshopComment}}</td>
    			<td>{{project.talkComment}}</td>
    			<td>{{project.serviceTickets}}</td>
    			<td>{{project.serviceParking}}</td>
    			<td>{{project.get_serviceStatus_display}}</td>
    			<td>{{project.serviceSponsorlevel}}</td>
    			<td>{{project.createDate|date:"j.n.Y"}}</td>
    		</tr>
    		{% endfor %}
    	</tbody>
    </table>
</div>
<script>
	$(document).ready(function () {
		$('.tablesorter').tablesorter({
            sortList: [[1,0]],
            headers : {
                0: {
                    sorter: false,
                    filter: false,
                },
                10: {
                    sorter: false,
                    filter: false,
                },
            },
            // theme: 'blue',
            widgets: ['filter'],
            // widgets: ['zebra', 'resizable', 'filter'],
            widgetOptions : {
                // https://mottie.github.io/tablesorter/docs/example-widget-filter-any-match.html
                // Set to use a jQuery selector (or jQuery object) pointing to the
                // external filter (column specific or any match)
                filter_external : '.search',
                // add a default type search to the contact column
                filter_defaultFilter: { 6 : '~{query}' },
                // include column filters
                filter_columnFilters: true,
                // filter_placeholder: { search : 'Search...' },
                filter_saveFilters : true,
                // filter_reset: '.reset'
            },
        });


		$('#show-only-accepted').change(function () {
            const table = document.querySelector('.container table');
            const css_class = 'hide_entries_not_success';
			if ($(this).prop('checked')) {
				table.classList.add(css_class);
			}
			else {
                table.classList.remove(css_class);
			}
		});

		$('#show-only-notaccepted').change(function () {
            const table = document.querySelector('.container table');
            const css_class = 'hide_entries_success';
			if ($(this).prop('checked')) {
				table.classList.add(css_class);
			}
			else {
                table.classList.remove(css_class);
			}
		});

	});
</script>

{% endblock %}
