{% extends "master.html" %}
{% load i18n %}
{% block content %}

<div class="page-header">
	<h2>{% trans 'text_list_projects' %} ({{object_list|length}})</h2>
</div>
<ul class="nav nav-pills">
	<li class="active">
		<a href="#">{% trans 'text_information_view' %}</a>
	</li>
	<li><a href="{% url 'project_list_planning' %}">{% trans 'text_planning_view' %}</a></li>
	<li>
		<a href="{% url 'project_list_hall' %}">{% trans 'text_hall_view' %}</a>
	</li>
	<li>
		<a href="{% url 'project_list_checkin' %}">{% trans 'text_checkin_view' %}</a>
	</li>
	<li class="pull-right"><a href="{% url 'project_export_xls_all' %}" data-toggle="tooltip" title="{% trans 'text_download_xls' %}">{% trans 'text_xls_export' %}</a></li>
	<li class="pull-right"><a href="{% url 'project_export_xml' %}" data-toggle="tooltip" title="{% trans 'text_download_xml' %}">{% trans 'text_xml_export' %}</a></li>
    <li class="pull-right"><a href="{% url 'project_export_adminmail' %}" data-toggle="tooltip" title="{% trans 'text_download_adminmail' %}">{% trans 'text_organizer_mails' %}</a></li>
	<li class="pull-right"><a href="{% url 'project_export_allmail' %}" data-toggle="tooltip" title="{% trans 'text_download_allmail' %}">{% trans 'text_participants_mail' %}</a></li>
</ul>

<div class="form-group pull-left controls" style="margin-left: 20px;">
	<label for="show-only-accepted" class="checkbox"><input id="show-only-accepted" class="checkboxinput" type="checkbox" /> {% trans 'text_show_only_accepted' %}</label>
</div>
<div class="form-group pull-left controls" style="margin-left: 30px;">
	<label for="show-only-notaccepted" class="checkbox"><input id="show-only-notaccepted" class="checkboxinput" type="checkbox" /> {% trans 'text_show_only_notaccepted' %}</label>
</div>

<div class="form-group pull-right">
    <input type="search" class="search form-control" data-column="all" placeholder="search any column">
</div>
<span class="counter pull-right"></span>
<div class="table_wrapper">
    <table class="table table-striped table-bordered table-hover tablesorter results">
    	<thead>
    		<tr>
    			<th>Project name</th>
    			<th>Main Contact</th>
    			<th>E-Mail</th>
    			<th class="filter-false sorter-false resizable-false">Provided information</th>
    			<th>Last modified</th>
    			<th>Creation date</th>
    			<th class="filter-false sorter-false resizable-false">Actions</th>
    		</tr>
    	</thead>
    	<tbody>
    		{% for project in object_list %}
    			<tr{% if project.accepted %} class="success"{% elif project.createDate > reg_deadline_booth %} class="danger"{% endif %}>
    				<td scope="row">{{project.projectName}}</td>
    				<td>{{project.firstname}} {{project.lastname}}</td>
    				<td>{{project.email}}</td>
    				<td>
    					{% if project.descriptionDE != "" and project.descriptionEN != "" %}<a href="{% url 'project_update_texts' pk=project.pk %}" data-toggle="tooltip" title="Texts in DE and EN available"><span class="glyphicon glyphicon-globe"></span></a>{% endif %}
    					{% if project.logoOrg and project.logoProject1 and project.logoTeam %}<a href="{% url 'project_update_texts' pk=project.pk %}" data-toggle="tooltip" title="Logo, Team and min. 1 project picture available"><span class="glyphicon glyphicon-picture"></span></a>{% endif %}
    					{% if project.video != "" or project.videoFile %}<a href="{% url 'project_update_texts' pk=project.pk %}" data-toggle="tooltip" title="Video available"><span class="glyphicon glyphicon-film"></span></a>{% endif %}
    					{% if project.bootTables and project.boothChairs and project.boothBenches and project.boothPower and project.boothDescription %}<a href="{% url 'project_update_booth' pk=project.pk %}" data-toggle="tooltip" title="Booth information available"><span class="glyphicon glyphicon-home"></span></a>{% endif %}
    					{% for box in project.projectArea.field.choices %}
    					Box: {{ box.name }}
    					Value: {{ box.choice_value }}
    					{% endfor %}
    					{% if project.projectArea.value == '1' %}<a href="{% url 'project_update_texts' pk=project.pk %}" data-toggle="tooltip" title="Project category available"><span class="glyphicon glyphicon-tags"></span></a>{% endif %}
    					{% if project.homepage != "" %}<a href="{% url 'project_update_general' pk=project.pk %}" data-toggle="tooltip" title="Homepage available"><span class="glyphicon glyphicon-home"></span></a>{% endif %}
    					{% if project.participants.all %}<a href="{% url 'project_participants' pk=project.pk %}" data-toggle="tooltip" title="Participants available"><span class="glyphicon glyphicon-user"></span></a>{% endif %}
    				</td>
    				<td>{{project.modifyDate|date:"j.n.Y"}}</td>
    				<td>{{project.createDate|date:"j.n.Y"}}</td>
    				<td>
    					{% if project.accepted %}
    						<form action="{% url 'project_unaccept' pk=project.pk %}" method="POST" style="display: inline">
    							{% csrf_token %}
    							<label for="unaccept-{{project.pk}}" style="display: inline"><span data-toggle="tooltip" title="Set this project to not accepted" class="glyphicon glyphicon-thumbs-down"></i></label>
    							<input type="submit" id="unaccept-{{project.pk}}" style="display: None" />
    						</form>
    					{% else %}
    						<form action="{% url 'project_accept' pk=project.pk %}" method="POST" style="display: inline">
    							{% csrf_token %}
    							<label for="accept-{{project.pk}}" style="display: inline"><span data-toggle="tooltip" title="Accept this project" class="glyphicon glyphicon-thumbs-up"></span></label>
    							<input type="submit" id="accept-{{project.pk}}" style="display: None" />
    						</form>
    					{% endif %}
    					<a href="{% url 'project_update_general' pk=project.pk %}" data-toggle="tooltip" title="Edit project information"><span class="glyphicon glyphicon-edit"></span></a>
    					{% if user.is_staff %}
    						<a href="{% url 'project_del' pk=project.pk %}" data-toggle="tooltip" title="Delete this project"><span class="glyphicon glyphicon-remove"></span></a>
    					{% endif %}
    				</td>
    			</tr>
    		{% endfor %}
    	</tbody>
    </table>
</div>
<script>
	$(document).ready(function () {
		$('.tablesorter').tablesorter({
            sortList: [[0,0]],
            headers : {
                4 : {sorter: 'eudate'},
                5 : {sorter: 'eudate'}
            },
            // theme: 'blue',
            widgets: ['filter'],
            // widgets: ['zebra', 'resizable', 'filter'],
            widgetOptions : {
                // https://mottie.github.io/tablesorter/docs/example-widget-filter-any-match.html
                // Set to use a jQuery selector (or jQuery object) pointing to the
                // external filter (column specific or any match)
                filter_external : '.search',
                // add a default type search to the first name column
                // filter_defaultFilter: { 6 : '~{query}' },
                // include column filters
                filter_columnFilters: true,
                // filter_placeholder: { search : 'Search...' },
                filter_saveFilters : true,
                filter_reset: '.reset'
            },
        });

		$('#show-only-accepted').change(function () {
            const table = document.querySelector('.container table');
            const css_class = 'hide_entries_not_success';
			if ($(this).prop('checked')) {
				table.classList.add(css_class);
			}
			else {
                table.classList.remove(css_class);
			}
		});

		$('#show-only-notaccepted').change(function () {
            const table = document.querySelector('.container table');
            const css_class = 'hide_entries_success';
			if ($(this).prop('checked')) {
				table.classList.add(css_class);
			}
			else {
                table.classList.remove(css_class);
			}
		});

	});
</script>

{% endblock %}
