{% extends "master.html" %}
{% load i18n %}
{% load staticfiles %}
{% block styles %}
			<div class="container" style="padding-bottom: 100px; width: 100%;">
{% endblock %}
{% block content %}

<div class="page-header">
	<h2>{% trans 'text_list_projects' %} ({{object_list|length}})</h2>
</div>
<ul class="nav nav-pills">
	<li>
		<a href="{% url 'project_list' %}">{% trans 'text_information_view' %}</a>
	</li>
	<li>
		<a href="{% url 'project_list_planning' %}">{% trans 'text_planning_view' %}</a>
	</li>
	<li>
		<a href="{% url 'project_list_hall' %}">{% trans 'text_hall_view' %}</a>
	</li>
	<li class="active"><a href="#">{% trans 'text_checkin_view' %}</a></li>
</ul>

<div class="form-group pull-right">
    <input type="search" class="search form-control" data-column="all" placeholder="search any column">
</div>
<span class="counter pull-right"></span>
<div class="table_wrapper">
    <table class="table table-striped table-bordered table-hover tablesorter results">
    	<thead>
    		<tr>
    			<th class="filter-false sorter-false resizable-false">Actions</th>
    			<th>Project name</th>
    			<th>Main contact</th>
    			<th>Sponsorlevel</th>
    			<th>Tickets</th>
    			<th>Tickets given out</th>
    			<th>Parkingtickets</th>
				<th>Parkingtickets given out</th>
				<th>Ticket status</th>
				<th>Distributed</th>
				<th>Comments</th>
				<th>Internal Comments</th>
				<th>Project status</th>
				<th>Booth status</th>
				<th>Workshop status</th>
				<th>Talk status</th>
				<th>Booth area</th>
				<th>Booth location</th>
				<th>Tables plan</th>
				<th>Benches plan</th>
    			<th>Chairs plan</th>
    			<th>Power plan</th>
    			<th>Additional</th>
				<th>General contact</th>
				<th class="filter-false sorter-false resizable-false">Actions</th>
    		</tr>
    	</thead>
    	<tbody>
    		{% for project in object_list %}
    			<tr>
    				<td>
    					<a href="{% url 'project_internal' pk=project.pk %}" target="_blank" data-toggle="tooltip" title="Edit project information"><span class="glyphicon glyphicon-edit"></span></a>
    				</td>
					<td scope="row">{{project.projectName}}</td>
					<td>{{project.firstname}} {{project.lastname}}</td>
					<td>{{project.serviceSponsorlevel}}</td>
					<td>{{project.serviceTickets}}</td>
					<td>{{project.serviceTicketsGiven}}</td>
					<td>{{project.serviceParking}}</td>
					<td>{{project.serviceParkingGiven}}</td>
					<td>{{project.get_serviceStatus_display}}</td>
					<td>{{project.serviceDistributed}}</td>
					<td>{{project.serviceComments}}</td>
					<td>{{project.serviceInternalComments}}</td>
					<td>{{project.get_projectStatus_display}}</td>
					<td>{{project.get_boothStatus_display}}</td>
					<td>{{project.get_workshopStatus_display}}</td>
					<td>{{project.get_talkStatus_display}}</td>
					<td>{{project.get_boothArea_display}}</td>
					<td>{{project.boothLocation}}</td>
					<td>{{project.boothTablesPlan}}</td>
    				<td>{{project.boothBenchesPlan}}</td>
    				<td>{{project.boothChairsPlan}}</td>
    				<td>{{project.get_boothPowerPlan_display}}</td>
    				<td>{{project.boothExtras}}</td>
					<td>{{project.generalContact}}</td>
					<td>
    					<a href="{% url 'project_internal' pk=project.pk %}" target="_blank" data-toggle="tooltip" title="Edit project information"><span class="glyphicon glyphicon-edit"></span></a>
    				</td>
    			</tr>
    		{% endfor %}
    	</tbody>
    </table>
</div>
<script>
	$(document).ready(function () {
		$('.tablesorter').tablesorter({
            sortList: [[1,0]],
            headers : {
                0: {
                    sorter: false,
                    filter: false,
				},
				24: {
					sorter: false,
                    filter: false,
				},
            },
            // theme: 'blue',
            widgets: ['filter'],
            // widgets: ['zebra', 'resizable', 'filter'],
            widgetOptions : {
                // https://mottie.github.io/tablesorter/docs/example-widget-filter-any-match.html
                // Set to use a jQuery selector (or jQuery object) pointing to the
                // external filter (column specific or any match)
                filter_external : '.search',
                // add a default type search to the first name column
                // filter_defaultFilter: { 6 : '~{query}' },
                // include column filters
                filter_columnFilters: true,
                // filter_placeholder: { search : 'Search...' },
                filter_saveFilters : true,
                // filter_reset: '.reset'
            },
        });
     
    });
</script>

{% endblock %}
