{% extends "master.html" %}
{% load crispy_forms_tags %}

{% block content %}

{% include "project/alltabshead.html" %}

<ul class="nav nav-tabs nav-tabs-bordered">
	<li><a href="{% url 'project_update_general' pk=object.pk %}">General</a><li>
	<li><a href="{% url 'project_update_texts' pk=object.pk %}">Project</a><li>
	<li class="active"><a href="#">Service</a><li>
	<li><a href="{% url 'project_update_booth' pk=object.pk %}">Booth</a><li>
	<li><a href="{% url 'project_update_talk' pk=object.pk %}">Talk</a><li>
	<li><a href="{% url 'project_update_workshop' pk=object.pk %}">Workshop</a><li>
	<li><a href="{% url 'project_participants' pk=object.pk %}">Participants</a><li>
</ul>

<div class="tab-content tab-bordered">
	<div class="tab-pane active" id="service_info">
		<div class="row">
			<div class="col-md-8">
				<p class="text-info">
					Some info text here
				</p>
			</div>
		</div>
		{% crispy form form.helper%}
	</div>
</div>

{% endblock %}
